<!DOCTYPE html>
<html>
<head>
    <title>Print Gold POS Entries</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>Gold POS Entries</h2>
    <table id="printTable">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Grams</th>
            <th>%</th>
            <th>Rate</th>
            <th>Pure Gold</th>
            <th>Total</th>
            <th>Print</th>
        </tr>
    </table>

    <script src="js/print.js"></script>
</body>
</html>